.task-board {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f0f2f5;
  }
  
  .task-column {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  .task-column-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #000000;
    text-transform: uppercase;
  }
  
  .task-item {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .task-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .task-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task-select {
    width: 70%;
  }
  
  .task-delete {
    color: #f44336;
  }
  
  .task-input {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .task-add {
    background-color: #3f51b5;
    color: #fff;
  }
  
  .task-add:hover {
    background-color: #303f9f;
  }
  